///////////////////////////////
/// BREAKPOINTS
///////////////////////////////

$breakpoint--small: 480px;
$breakpoint--medium: 768px;
$breakpoint--large: 970px;
$breakpoint--xlarge: 1200px;

///////////////////////////////
/// BEDROCK OVERRIDES
///////////////////////////////
$container-width-xl: 960px !default;

///////////////////////////////
/// BASE
///////////////////////////////

$base-font__family--serif: 'Times New Roman', serif;
$base-font__family--sans-serif: 'Proxima';
$base-font__size: 16px;
$base-line-height: 1.5;

///////////////////////////////
/// PATHS
///////////////////////////////
$img-path: '../img/';

///////////////////////////////
/// ANIMATIONS
///////////////////////////////

$base-animation__speed: 200ms;
