h1 {
  @include font-size(50px);

  font-family: $base-font__family--sans-serif + '-extrabold', arial, sans-serif;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

h2 {
  @include font-size(48px);

  font-family: $base-font__family--sans-serif + '-bold', arial, sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  @include font-size($base-font__size);

  font-family: $base-font__family--sans-serif + '-regular', arial, sans-serif;
  line-height: 1.5;
}

h4 {
  @include font-size($base-font__size);

  font-family: $base-font__family--sans-serif + '-regular', arial, sans-serif;
  line-height: 1.5;
}

h5 {
  @include font-size($base-font__size - 2);
  font-family: $base-font__family--sans-serif + '-regular', arial, sans-serif;
  line-height: 1.5;
}

p {
  @include font-size($base-font__size);

  font-family: $base-font__family--sans-serif + '-regular', arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
