<br>
<br>
<br>
<section class="home row">
  <div class="container--grid text-center">
    <div class="col col--md-6 col--md-push-3" ng-repeat="shirt in products.categories.shirts">
      <img src="https://placehold.it/262x150" alt="image" />
      <h4>{{shirt.name}}</h4>
      <p>{{shirt.price}}</p>
      <ngcart-addtocart id="{{shirt.id}}" name="{{shirt.name}}" price="{{shirt.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
    </div>
  </div>
</section>
<ngCart-summary></ngCart-summary>
